
.navbar{
    background-color: #131519;
    width: 100%;
}

.navbar-brand{
    color: white;
    background-color: #50C878;
    font-size: 2rem;
    border-radius: 10px;
}

.profile{
    color: white;
}

.navbar-toggler{
    color: white;
}

